@charset "UTF-8";
/* CSS Document */

*{
	margin: 0px;
}

body{
	margin:0px;
	background-image: url("../img/pexels-adrien-olichon-2538107.jpg");
	background-size: 100%;
}

#title2{
	height: 300px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
}

.navBar2{
	list-style:none;
	text-align: center; 
	width: 100%;
	position:absolute;
	right: 0px;
	top: 320px;
}
.navBar2 li{
	float:left;
	width: 33.33%;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	box-sizing: border-box;
}
.navBar2 a:hover{
	color: black;
	background: #BEC5DD;
}
.navBar2 a{
	color: #BEC5DD;
		background: black;
	text-decoration: none;
	display: block;
	padding: 10px;
}

/*--above are duplicated--*/

