@charset "UTF-8";
/* CSS Document */

*{
	margin: 0px;
}

body{
	margin:0px;
	background-image: url("../img/pexels-adrien-olichon-2538107.jpg");
	background-size: 100%;
}

#mainTitle{
	color: beige;
	background-color: #9C5D41;
}

#title{
	height: 60px;
	padding-left: 10px;
}

#mainImg{
	background-image: url("img/studying-home.jpg");
	height: 500px;
	backgroung-position: top;
	background-size: cover;
}

.navBar{
	list-style:none;
	text-align: center; 
	width: 100%;
	position:absolute;
	right: 0px;
	top: 200px;
}
.navBar li{
	float:left;
	width: 33.33%;
	background: black;
	font-size: 20px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navBar li:hover{
	background: #BEC5DD;
}
.navBar a:hover{
	color: black;
}
.navBar a{
	color: #BEC5DD;
	text-decoration: none;
	display: block;
}

	
