@charset "UTF-8";
/* CSS Document */

.container{
	position:relative;
	height:2000px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  padding: 3px;
  text-align: left;
}

body{
	margin:0px;
	background-image: url("../img/pexels-adrien-olichon-2538107.jpg");
	background-size:100%;
}

.container{
	width: 90%;
	margin-right: auto;
	margin-left: auto; 
	margin-top: 250px;
	color:azure;
}

#title{
	height: 300px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
}

.navBar{
	list-style:none;
	text-align: center; 
	width: 100%;
	position:absolute;
	right: 0px;
	top: 320px;
}
.navBar li{
	float:left;
	width: 25%;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	box-sizing: border-box;
}

.navBar a:hover{
	color: black;
	background: #BEC5DD;
}
.navBar a{
	color: #BEC5DD;
		background: black;
	text-decoration: none;
	display: block;
	padding: 10px;
}

.clearfix {
  overflow: auto;
}


.fix img{
	height: 50px;
	position: fixed;
	right: 40px;
	bottom: 60px;
}

.fix img:hover{
	transform:scale(1.5);
}

.footer{
	color:azure;
	background: black;
	position:relative;
	bottom:0;
	width:100%;
	text-align:center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-top:15px;
	padding-bottom: 20px;
}

	
